@{
    ViewData["Title"] = "Home Page";
}

@model OAuth2Fb.Models.Account
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br />
    <table>
        <tr><td><b>Email: </b></td><td>@User.Identity.Name</td></tr>
    </table>
</div>
