@{
    ViewData["Title"] = "Home Page";
}

@model OAuth2Fb.Models.Account 


    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <br />
        <p>Hej, detta är en test!</p>

    </div>
